head{
  font-weight: bolder;
  font-style: italic;
  border-color: inherit;
  table-layout: auto;
}


h1 {
background-color: pink;
font-style: italic;
font-weight: 300;
font-family: fantasy;
color: blue;
h3 {

font-family:italic;
font-size: 55px;
text-decoration-color: green
text-align: center;
}
body{
  background-color: red;
background-repeat: repeat;
background-image: url(Essy.jpg>);
  }
ul{
  list-style: square;
}
ol{list-style: upper-roman;
}
div{
background-color: green;
}
img{
  font-size: 60px;
  font-style: normal;
  font-family: fantasy;
  

}



























































































  +
}
